@font-face {
  font-family: Poppins;
  src: url(../fonts/english-fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: MeriendaOne;
  src: url(../fonts/english-fonts/MeriendaOne-Regular.ttf);
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(../fonts/english-fonts/PlayfairDisplay-Regular.ttf);
}